
// Основные цвета
$primary-color: #3498db; // Основной цвет (синий)
$secondary-color: #2ecc71; // Вторичный цвет (зеленый)
$background: rgba(255, 243, 188, 0.849); // Цвет фона

// Шрифты
$font-family: 'Arial', sans-serif;

// Размеры
$font-size-base: 16px;
$font-size-large: 18px;

// Прочее
$border-radius: 5px;
